target/
**/target
.settings/
.project
.classpath
.metadata
bin/
**/bin
.idea
*.iml
corona-ticket-web/build/classes/
/build/
corona-ticket-uy-central/.pmd
corona-ticket-uy-central/reports/
corona-ticket-uy-workstation/.pmd
corona-ticket-web/.pmd
corona-ticket-uy-workstation/repo/
artifacts/