.funciones-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.funcion-data-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 5px 0;
}

.funciones-title {
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}

.additional-data-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.span_right_item {
    font-size: 15px;
}

.main-info {
    display: flex;
    margin: 0 0 10px;
}

.left-column {
    margin: 0 0 20px;
}

.right-column {
    margin: 20px 0;
}

.function-row-data {
    font-size: 3.5vw;
    font-weight: 600;
}

@media (min-width: 768px) {
    .funcion-data-container {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin: 5px 0;
        width: 65%;
    }

    .espectadores-container {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .main-detalle {
        padding: 20px;
        display: flex;
    }

    .left-column {
        width: 70%;
        padding: 20px;
    }

    .right-column {
        width: 30%;
        padding: 20px;
    }
}
